<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaGroupS7.dao.AdminDAO">
	
	<!-- select -->
	<select id="getVisitCnt" resultType="com.spring.javaGroupS7.vo.UserVO">
		select * from users where level != 0 order by visitCnt desc limit 5;
	</select>
	
	<select id="getOrderCnt" resultType="com.spring.javaGroupS7.vo.ProductOrderVO">
		SELECT u.name, o.mid, COUNT(o.mid) AS totOrderCnt
		FROM productOrder o
		LEFT JOIN users u ON o.mid = u.mid
		WHERE u.level != 0
		GROUP BY o.mid, u.name
		ORDER BY totOrderCnt DESC
		LIMIT 5;
	</select>
	
	<select id="getLoadSchedule" resultType="com.spring.javaGroupS7.vo.ScheduleVO">
		SELECT * FROM schedule;
	</select>
	
	<select id="getRefundList" resultType="com.spring.javaGroupS7.vo.BaesongVO">
	   select b.*,p.productName, p.orderDate, p.optionName, p.optionNum
	   from baesong b
	   left join productOrder p on p.idx = b.oIdx 
	   where orderStatus = '교환및환불'
	   order by b.idx desc
  </select>
   
  <select id="getNewUserCnt" resultType="Integer">
		SELECT COUNT(*) 
		FROM users 
		WHERE joinDay >= DATE_SUB(NOW(), INTERVAL 7 DAY);
	</select>
	
  <select id="getLeaveUserCnt" resultType="Integer">
		SELECT COUNT(*) 
		FROM users 
		WHERE userDel = 'OK';
	</select>
	
  <select id="getNewOrderCnt" resultType="Integer">
		SELECT COUNT(*) 
		FROM baesong 
		WHERE orderStatus = '결제완료';
	</select>
	
  <select id="getRefundCnt" resultType="Integer">
		SELECT COUNT(*) 
		FROM baesong 
		WHERE orderStatus = '교환및환불';
	</select>
		
	<select id="getProductCnt" resultType="com.spring.javaGroupS7.vo.ProductOrderVO">
		SELECT p.productName, COUNT(o.productIdx) AS totOrderCnt
		FROM productOrder o
		LEFT JOIN product p ON o.productIdx = p.idx
		GROUP BY o.productIdx, p.productName
		ORDER BY totOrderCnt DESC
		LIMIT 5;
	</select>
	
	<select id="getMonthlySales" resultType="long">
		SELECT SUM(o.totalPay) AS monthlySales
    FROM productOrder o
    WHERE YEAR(o.orderDate) = YEAR(NOW()) AND MONTH(o.orderDate) = MONTH(NOW()); 
	</select>
	
	 
	<!-- insert -->
	<insert id="setSaveSchedule">
		insert into schedule values (default, #{title}, #{startDate}<if test="endDate != '' and endDate != null">, #{endDate}</if>);
	</insert>
	
	<!-- update -->
	
	

</mapper>