<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaGroupS7.dao.PageDAO">

	<select id="getTotRecCnt" resultType="int">
        select count(*) from ${type}
        <if test='type == "user" and user != "admin"'> where userDel != 'OK'</if>;
        <if test='type == "product" and user != "admin"'> where display != 'OFF'</if>;
    </select>
    
   <select id="List" resultType="map">
       select t.*
       <if test='type == "productOrder" and user == "admin"'>,b.name, b.address, b.orderStatus </if>
       <if test='type == "baesong" and user == "admin"'>,p.productName, p.orderDate, p.optionName, p.optionNum</if>
       from ${type} t
       <if test='type == "productOrder" and user == "admin"'> left join baesong b on t.idx = b.oIdx order by t.idx desc</if>
       <if test='type == "baesong" and user == "admin"'>left join productOrder p on p.idx = t.oIdx order by t.idx desc</if>
       <if test='type == "user" and user != "admin"'>where userDel != 'OK'</if>
       <if test='type == "product" and user != "admin"'> where display != 'OFF'</if>
       limit #{startIndexNo}, #{pageSize}
   </select>
   
   <select id="getTotRecCntSearch" resultType="int">
		select count(*)
		from ${type} t
			<if test='type == "productOrder" and user == "admin"'>left join baesong b on t.idx = b.oIdx</if>
		where ${part} like concat("%", #{searchString}, "%");
	</select>

   <select id="SearchList" resultType="map">
		select t.*
			<if test='type == "productOrder" and user == "admin"'>,b.name, b.address, b.orderStatus </if> 
		from ${type} t
			<if test='type == "productOrder" and user == "admin"'>left join baesong b on t.idx = b.oIdx</if>
		where ${search} like concat("%",#{searchString},"%") 
		order by idx desc 
		limit #{startIndexNo},#{pageSize};	
	</select>



</mapper>