<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaGroupS7.dao.ShopDAO">
	
	<!-- select -->
	<select id="getProductList" resultType="com.spring.javaGroupS7.vo.ProductVO">
		select * from product where 
			<if test="categoryName == 'baseName'">${categoryName} = #{category} and mainName = #{categoryTop};</if>
			<if test="categoryName == 'subName'">${categoryName} = #{category} and baseName = #{categoryTop};</if>
			
	</select>
	<select id="getCategoryList" resultType="com.spring.javaGroupS7.vo.CategorySubVO">
		select * from categorySub where
			<if test="categoryName == 'mainName'">${categoryName} = #{category} group by baseName;</if>
			<if test="categoryName == 'baseName'">${categoryName} = #{category} group by subName;</if>
			
	</select>
	 
	<!-- insert -->
	
	<!-- update -->
	
	

</mapper>