<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaGroupS7.dao.ShopDAO">
	
	<!-- select -->
	<select id="getProductList" resultType="com.spring.javaGroupS7.vo.ProductVO">
		select * from product
			<where>
				<if test="categoryName == 'baseName'">baseName = #{category} and mainName = #{categoryTop}</if>
				<if test="categoryName == 'subName'">subName = #{category} and baseName = #{categoryTop}</if>
			</where> 
	</select>
	
	<select id="getCategoryList" resultType="com.spring.javaGroupS7.vo.CategorySubVO">
		select * from categorySub where
			<if test="categoryName == 'mainName'">${categoryName} = #{category} group by baseName</if>
			<if test="categoryName == 'baseName'">${categoryName} = #{category} and mainName = #{categoryTop} group by subName</if>
			<if test="categoryName == 'subName'">${categoryName} = #{category} and baseName = #{categoryTop}</if>
	</select>
	
	<select id="getCategoryIndex" resultType="com.spring.javaGroupS7.vo.CategorySubVO">
		select * from categorySub where
			<if test="categoryName == 'mainName'">${categoryName} = #{category} limit 1</if>
			<if test="categoryName == 'baseName'">${categoryName} = #{category} and mainName = #{categoryTop} limit 1</if>
			<if test="categoryName == 'subName'">${categoryName} = #{category} and baseName = #{categoryTop} limit 1</if>
	</select>
	
	<select id="getProduct" resultType="com.spring.javaGroupS7.vo.ProductVO">
		select * from product where idx = #{idx};
	</select>
	
	<select id="getCategoryMain" resultType="com.spring.javaGroupS7.vo.ProductVO">
		select * from categoryMain order by mainCode; 
	</select>
	
	<select id="getCategoryBase" resultType="com.spring.javaGroupS7.vo.ProductVO">
		select * from categoryBase where mainName = #{mainName};
	</select>
	
	<select id="getCategorySub" resultType="com.spring.javaGroupS7.vo.ProductVO">
		select * from categorySub where mainName = #{mainName} and baseName = #{baseName};
	</select>
	
	<select id="getProductMaxIdx" resultType="com.spring.javaGroupS7.vo.ProductVO">
		select * from product order by idx desc limit 1;
	</select>
	
	<select id="getProductCode"	resultType="String">
		SELECT CONCAT(
    categorymain.mainCode, '-',
    LPAD(CAST(categorybase.baseCode AS CHAR), 2, '0'), '-',
    LPAD(CAST(categorysub.subCode AS CHAR), 2, '0'), '-',
    LPAD(#{maxIdx}, 3, '0')) AS productCode
		FROM categorymain
		JOIN categorybase ON categorymain.mainName = categorybase.mainName
		JOIN categorysub ON categorybase.baseName = categorysub.baseName
		WHERE categorymain.mainName = #{mainName}
		AND categorybase.baseName = #{baseName}
		AND categorysub.subName = #{subName};
	</select>
	<!--  
	<select id="getCategoryProductNameOne" resultType="com.spring.javaGroupS.vo.ProductVO">
    select * from product where productName = #{productName}; 
  </select>
  
  <select id="getCategoryProductNameOneVO" resultType="com.spring.javaGroupS.vo.ProductVO">
    select * from product where productCode = #{vo.productName}; 
  </select>
	 -->
	<!-- insert -->
	<insert id="setProductInput">
		insert into product value 
			(
				#{vo.idx},#{vo.productCode},#{vo.productName},#{vo.subName},#{vo.subCode},#{vo.baseName},#{vo.mainName},
				#{vo.price},#{vo.discount},#{vo.pay},#{vo.thumbnail},#{vo.titleImg},#{vo.fName},
				#{vo.fSName},#{vo.fSize},#{vo.content},default,default,default,default,default
			);
	</insert>
	
	
	<!-- update -->
	
	

</mapper>