<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaGroupS7.dao.WebMessageDAO">

	<!-- select -->
	<select id="getWmMessageContent" resultType="com.spring.javaGroupS7.vo.WebMessageVO">
		select * from webMessage where idx = #{idx};
	</select>
	
	
	<!-- 
	<select id="getWmMessageReceiveSw" resultType="String">
		select receiveSw from webMessage where idx = #{idx};
	</select> 
	-->

	<select id="getWmMessageList" resultType="com.spring.javaGroupS7.vo.WebMessageVO">
	  <if test="mSw == 1">	<!-- 받은메세지 -->
			select * from webMessage where receiveId=#{mid} and (receiveSw='n' or receiveSw='r') order by idx desc limit #{startIndexNo}, #{pageSize};
		</if>
	  <if test="mSw == 2">	<!-- 새 메세지 -->
			select * from webMessage where receiveId=#{mid} and receiveSw='n' order by idx desc limit #{startIndexNo}, #{pageSize};
		</if>
	  <if test="mSw == 3">	<!-- 보낸 메세지 -->
			select * from webMessage where sendId=#{mid} and sendSw='s' order by idx desc limit #{startIndexNo}, #{pageSize};
		</if>
	  <if test="mSw == 4">	<!-- 수신확인 -->
			select * from webMessage where sendId=#{mid} and receiveSw='n' order by idx desc limit #{startIndexNo}, #{pageSize};
		</if>
	  <if test="mSw == 5">	<!-- 휴지통 -->
			select * from webMessage where (receiveId=#{mid} and receiveSw='g') or (sendId=#{mid} and sendSw='g') order by idx desc limit #{startIndexNo}, #{pageSize};
		</if>
	</select>
	
	<!--  -->
  <insert id="setWmInputOk">
    insert into webMessage values(default, #{vo.title}, #{vo.content}, #{vo.sendId}, default, default, #{vo.receiveId}, default, default);
  </insert>


	<!-- update -->
	<update id="setWmUpdate">
		update webMessage set receiveSw='r', receiveDate=now() where idx=#{idx} and receiveId=#{mid};
	</update>
	
	<update id="setwmDeleteCheck">
		<if test="mFlag != 5">
		  update webMessage set receiveSw = 'g' where idx = #{idx};
	  </if>
	</update>
	
	
	
	
</mapper>